html {
  margin: 0;
  padding: 0;
}

body {
  margin: 0 auto;
  padding: 0 10pt 0 10pt;
  background-color: #efe;
  color: #000;
  font-size: 100%;
  font-family: serif;
  line-height: 1.4;
}

a {
  background: transparent;
  color: #00f;
}

a:visited {
  color: #707;
}

a.extlink {
  padding-right: 13px;

  background-image: url(pubimg/extlink.png);
  background-repeat: no-repeat;
  background-position: right;
}

a.mail {
  padding-right: 13px;

  background-image: url(pubimg/mail.png);
  background-repeat: no-repeat;
  background-position: right;
}

a.file {
  padding-right: 13px;

  background-image: url(img/file.png);
  background-repeat: no-repeat;
  background-position: right;
}

h1 {
  font-family: sans-serif;
  font-size: 200%;
  margin: 0 -10pt 0 -10pt;
  padding: 0.5ex 10pt 0.5ex 10pt;
  background-color: #def;
  border-bottom: solid 2px #abc;
  clear: left;
  text-align: center;
}

h2 {
  font-size: 150%;
  font-family: sans-serif;
  color: #448;
  border-bottom: solid 1px #005;
  margin: 2ex 0 1ex 0;
  clear: left;
}

h3 {
  font-size: 120%;
  font-family: sans-serif;
  margin: 2ex 0 0.5ex 0;
}

p {
  margin: 1ex 0;
}

dd {
  margin-bottom: 0.7ex;
}

.homelink {
  font-size: 70%;
}

.ornament {
  overflow: auto;
}

.langselect {
  margin: 0 auto;
  max-width: 50rem;
  text-align: right;
}

.textcolumn {
  margin: 0 auto;
  padding: 0.5rem;
  max-width: 50rem;
  background-color: #fff;
}

div.navbottom {
  clear: both;
  border-top: solid 2px #abc;
  margin: 0 -10pt 0 -10pt;
  padding: 1ex 10pt 1ex 10pt;
  background-color: #def;
}

div.navbottom .textcolumn {
  background-color: #def;
}

div.navbottom p {
  text-align: right;
  margin: 0;
}

p.navbottom {
  clear: both;
  border-top: solid 2px #abc;
  margin: 1ex -10pt 0 -10pt;
  padding: 1ex 10pt 1ex 10pt;
  background-color: #def;
  text-align: right;
}

@media (prefers-color-scheme: dark) {
  body {
    background-color: #122;
    color: #ccc;
  }
  a {
    color: #89f;
  }
  a.extlink {
    background-image: url(pubimg/extlink2.png);
  }
  a.mail {
    background-image: url(pubimg/mail2.png);
  }
  a:visited {
    color: #d8d;
  }
  h1 {
    background-color: #234;
    border-color: #112;
  }
  h2 {
    color: #9bf;
    border-color: #225;
  }
  .textcolumn {
    background-color: #000;
  }
  div.navbottom {
    background-color: #234;
    border-color: #112;
  }
  div.navbottom .textcolumn {
    background-color: #234;
  }
  p.navbottom {
    background-color: #234;
    border-color: #112;
  }
}
